{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="card">
            <!-- Card header -->
            <div class="card-header">
              <!-- Title -->
              <h5 class="h3 mb-0">How to Play</h5>
            </div>
            <!-- Card image -->
            <!-- List group -->
            <!-- Card body -->
            <div class="card-body">
              <p class="card-text mb-4">
            1. Each of you have been given compilers of following languages in your systems: 
 	                C,C++,Python,Java<br>
            2. You are supposed to find the answers to the questions by logic or by creating a program to solve the question<br>
            3. In 3 questions you are required to use text files to input data which are already present on your desktop<br>
            4. You are required to complete the crossword before submitting, once submitted the changes wont be reverted back.<br>
            5. Tab and enter keys wont work to navigate between the boxes, you have to use cursor to navigate.<br>
            6. Usage of internet/mobiles will lead to straight disqualification.<br>
</p>
            </div>
          </div>
<div class="text-center">
<img src={% static "assets/img/r1.png" %} style="width: 80%;">
<br><br>
<img src={% static "assets/img/r2.png" %} style="width: 80%;">
</div>

{% endblock %}