<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Leaderboard</h1>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><h3>NAME</h3></td>
          <td><h3>SCORE</h3></td>
          <td><h3>COMPLETED</h3></td>
          <td><h3>TIME TAKEN</h3></td>
          <td><h3>STARTED AT</h3></td>
          <td><h3>FINISHED AT</h3></td>
        </tr>
        {% for u,time in data %}
        <tr>
          <td>{{ u.user }}</td>
          
          {% if u.score is not none %}
          <td>{{ u.score }}</td>
          {% else %}
          <td></td>
          {% endif %}

          {% if u.completed is True %}
          <td>Yes</td>
          {% else %}
          <td>No</td>
          {% endif %}

          {% if time is not none %}
          <td>{{ time }} minutes</td>
          {% else %}
          <td></td>
          {% endif %}

          <td>{{ u.started_at|time }}</td>
          <td>{{ u.finished_at|time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


<br><br><br>
  </body>
</html>
