{% load i18n %}
{% load account %}
{% load static %}
<!doctype html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">

    <!-- Libs CSS -->
    <link rel="stylesheet" href={% static "assets/fonts/feather/feather.min.css" %}>
    <link rel="stylesheet" href={% static "assets/libs/highlight.js/styles/vs2015.css" %}>
    <link rel="stylesheet" href={% static "assets/libs/quill/dist/quill.core.css" %}>
    <link rel="stylesheet" href={% static "assets/libs/select2/dist/css/select2.min.css" %}>
    <link rel="stylesheet" href={% static "assets/libs/flatpickr/dist/flatpickr.min.css" %}>

    <!-- Theme CSS -->
      
    <link rel="stylesheet" href={% static "assets/css/theme.min.css" %} id="stylesheetLight">

    <link rel="stylesheet" href={% static "assets/css/theme-dark.min.css" %} id="stylesheetDark">

    <style>body { display: none; }</style>

    <script>
      var colorScheme = ( localStorage.getItem('dashkitColorScheme') ) ? localStorage.getItem('dashkitColorScheme') : 'light';
    </script>
    

    <title>{% trans "Password Reset" %}</title>
  </head>
  <body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">

    <!-- CONTENT
    ================================================== -->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

          <!-- Image -->
          <div class="text-center">
            <img src={% static "assets/img/illustrations/coworking.svg" %} alt="..." class="img-fluid">
          </div>

        </div>
        <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
          
          <!-- Heading -->
          <h1 class="display-4 text-center mb-3">
            Password reset
          </h1>
          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}


          <!-- Subheading -->
          <p class="text-muted text-center mb-5">
            {% trans "Enter your email to get a password reset link." %}
          </p>
          
          <!-- Form -->
           <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}

            {% load form_extras %}

            <!--Form Help Text-->
            {% if form.help_text %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{form.help_text}}</strong>
            </div>
            {% endif %}

            <!--Form Errors -->
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for key, value in form.errors.items %}
            <strong>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</strong>
            {% endfor %}
            </div>
            {% endif %}


            <!-- Email address -->
            <div class="form-group">

              <!-- Label -->
              <label>Email Address</label>
              <!-- Input -->
            {{ form.email|formclass:"form-control" }}

            </div>

            <!-- Submit -->
            <button class="btn btn-lg btn-block btn-primary mb-3">
              Reset Password
            </button>

            <!-- Link -->
            <div class="text-center">
              <small class="text-muted text-center">
                Remember your password? <a href="{% url 'account_login' %}">Log in</a>.
              </small>
            </div>
            
          </form>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src={% static "assets/libs/jquery/dist/jquery.min.js" %}></script>
    <script src={% static "assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js" %}></script>
    <script src={% static "assets/libs/chart.js/dist/Chart.min.js" %}></script>
    <script src={% static "assets/libs/chart.js/Chart.extension.min.js" %}></script>
    <script src={% static "assets/libs/highlightjs/highlight.pack.min.js" %}></script>
    <script src={% static "assets/libs/flatpickr/dist/flatpickr.min.js" %}></script>
    <script src={% static "assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js" %}></script>
    <script src={% static "assets/libs/list.js/dist/list.min.js" %}></script>
    <script src={% static "assets/libs/quill/dist/quill.min.js" %}></script>
    <script src={% static "assets/libs/dropzone/dist/min/dropzone.min.js" %}></script>
    <script src={% static "assets/libs/select2/dist/js/select2.min.js" %}></script>

    <!-- Theme JS -->
    <script src={% static "assets/js/theme.min.js" %}></script>

  </body>
</html>