{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="CCS">
  <title>Crosscode By CCS</title>
  <!-- Fonts -->
<link rel="stylesheet" href={% static "assets/css/fonts.css" %}?family=Open+Sans:300,400,600,700" type="text/css">
  <!-- Icons -->
  <link rel="stylesheet" href={% static "assets/vendor/nucleo/css/nucleo.css" %} type="text/css">
  <link rel="stylesheet" href={% static "assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" %} type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" href={% static "assets/css/argon.mine209.css" %} type="text/css">
</head>

<body class="bg-default">
  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Create an account</h1>
              <p class="text-lead text-white">
              <img src={% static "assets/img/helix.png" %} height="180em"></p>
            </div>
          </div>
        </div>
      </div>
       <div class="row"><div class="col-md-3"></div>{% include '../messages.html' %}</div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Sign up with credentials</small>
              </div>
              <form role="form" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4">Create account</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
              <div class="col-6 text">
                <a href="{{ login_url }}" class="text-light"><small><b>Login instead</b></small></a>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="py-5" id="footer-main">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2018 <a href="http://ccstiet.com" class="font-weight-bold ml-1" target="_blank">Creative Computing Society</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="{% static "assets/vendor/jquery/dist/jquery.min.js" %}></script>
  <script src="{% static "assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}></script>
  <script src="{% static "assets/vendor/js-cookie/js.cookie.js" %}></script>
  <script src="{% static "assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js" %}></script>
  <script src="{% static "assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js" %}></script>
  <script src="{% static "assets/vendor/lavalamp/js/jquery.lavalamp.min.js" %}></script>
  <!-- Argon JS -->
  <script src="{% static "assets/js/argon.min.js?v=1.0.0" %}></script>
  <!-- Demo JS - remove this in your project -->
  <script src=".{% static "assets/js/demo.min.js" %}></script>
      <script>
    $(document).ready(function() {
        // messages timeout for 10 sec 
        setTimeout(function() {
            $('.alert').fadeOut('slow');
        }, 4000); // <-- time in milliseconds, 1000 =  1 sec

        // delete message
        $('.del-msg').live('click',function(){
            $('.del-msg').parent().attr('style', 'display:none;');
        })
    });
</script>
</body>

</html>
